@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url(//db.onlinewebfonts.com/c/0f56c874ba695191e7f4cab237447698?family=Futura);

/*----*/


/*PROPRETY FOR ALLS*/

#index .container {
    width: 100% !important;
    padding: 0 !important;
}

.container.legende {
    width: 100% !important;
    padding: 0 !important;
}

.row.inter {
    width: 100% !important;
    padding: 0 !important;
    height: 100px !important;
}

.row {
    margin: 0 !important;
}

#numero {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#economie {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#partage {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#livraison {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#products .product-miniature .product-flags li.product-flag,
.featured-products .product-miniature .product-flags li.product-flag,
.product-accessories .product-miniature .product-flags li.product-flag,
.product-miniature .product-miniature .product-flags li.product-flag {
    display: none;
}

#products .thumbnail-container,
.featured-products .thumbnail-container,
.product-accessories .thumbnail-container,
.product-miniature .thumbnail-container {
    position: relative;
    margin-bottom: 1.563rem;
    height: 318px;
    width: 352px;
    background: #fff;
    box-shadow: none;
}

.paragraphe h4 {
    font-family: 'Futura', sans-serif !important;
    color: #c3d9b1!important;
    font-size: 14px;
}

.paragraphe .text-center {
    font-family: 'Open Sans', sans-serif;
    text-align: left !important;
}

#index .tabs .nav-tabs .nav-link.active {
    color: #000;
    background: #c3d9b1;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    font-size: 14px;
}

#index .nav-item a {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000!important;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    width: 162px !important;
    text-align: center!important;
    font-size: 14px;
    font-weight: 400;
}

.paragraphe .text-center {
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
}

#products .highlighted-informations,
.featured-products .highlighted-informations,
.product-accessories .highlighted-informations,
.product-miniature .highlighted-informations {
    position: absolute;
    bottom: 1.25rem;
    padding-top: 3px;
    z-index: 2;
    background: #fff;
    text-align: center;
    width: 200px;
    height: 3.125rem;
    color: #000;
    box-shadow: none;
    transition: bottom .3s;
    right: 63px;
    bottom: -5px;
}

#products .thumbnail-container:focus .highlighted-informations.no-variants,
#products .thumbnail-container:hover .highlighted-informations.no-variants,
.featured-products .thumbnail-container:focus .highlighted-informations.no-variants,
.featured-products .thumbnail-container:hover .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:focus .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:hover .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:focus .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
    bottom: 50px;
    color: #000;
}

#products .thumbnail-container:focus .highlighted-informations.no-variants,
#products .thumbnail-container:hover .highlighted-informations.no-variants,
.featured-products .thumbnail-container:focus .highlighted-informations.no-variants,
.featured-products .thumbnail-container:hover .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:focus .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:hover .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:focus .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:hover .highlighted-informations.no-variants:hover {
    color: #000;
}

#products .products,
.featured-products .products,
.product-accessories .products,
.product-miniature .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 253px;
    font-size: 14px !important;
}

.paragraphe {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 85px;
    font-size: 14px !important;
}

.m-15 button {
    background-color: black;
    color: white;
    border-radius: 0px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    font-family: 'Futura', sans-serif !important;
    font-size: 14px !important;
    text-decoration: none;
    text-shadow: 0px 1px 0px black !important;
    margin-top: 20px;
}

.tabs .nav-tabs {
    border: none;
    border-bottom: none !important;
    width: 698px;
    margin: 0 auto;
}

#index .tabs .nav-tabs .nav-link.active {
    color: #000;
    background: #c3d9b1;
    font-family: 'Futura', sans-serif !important;
    font-size: 14px;
    margin-left: 20px;
}

#index .nav-item a {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000!important;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    text-align: center!important;
    font-size: 14px;
    font-weight: 400;
    margin-left: 62px;
}

.tabs {
    padding: 0%;
    background: none;
    box-shadow: none;
    margin-top: 92px;
}

.nav-tabs .nav-link.active {
    color: #000;
    background: #c3d9b1;
    font-family: 'Futura', sans-serif !important;
    font-size: 14px;
    margin-left: 20px;
    white-space: nowrap;
}

.block-social {
    text-align: right;
    display: none !important;
}

#products .product-miniature,
.featured-products .product-miniature,
.product-accessories .product-miniature,
.product-miniature .product-miniature {
    margin: 90px 11px;
    padding: 0px;
    box-sizing: border-box;
}


/*MEDIA QUERY*/
@media screen and (min-width:1340px) {

	#header .header-top .search-widget {
	   /* padding-top: 63px;*/
	    padding-left: 25px;
	    margin-left: -40px;

	}
	i.material-icons.search {
	margin-left: 27px;
    position: absolute;
    margin-top: -26px;
	}
	#_desktop_cart .header{
	    margin-left: 314px;
    	margin-top: -32px;
	  }
}

#header .header-top .search-widget form input[type=text] {
    border: none;
}
@media screen and (min-width:1340px) {
    /*	.search-widget form button[type=submit] {
    background: none;
    border: none;
    top: -11px;
    right: 218px;
    position: absolute;
    color: #7a7a7a;
}*/
    /*div.header i.shopping-cart {
    position: absolute;
    top: 129px;
    right: 216px;
}*/
    /*.search-widget form button[type=submit] {
    background: none;
    border: none;
    position: absolute;
    top: 68px;
    right: 217px;
    color: #7a7a7a;
}*/
    #products .highlighted-informations .quick-view,
    .featured-products .highlighted-informations .quick-view,
    .product-accessories .highlighted-informations .quick-view,
    .product-miniature .highlighted-informations .quick-view:hover {
        color: #000;
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        white-space: nowrap;
        z-index: 3;
    }
    /*.header-top .search-widget form input[type=text] {
    		display: none;
	}*/
    #products .highlighted-informations,
    .featured-products .highlighted-informations,
    .product-accessories .highlighted-informations,
    .product-miniature .highlighted-informations {
        position: absolute;
        bottom: 1.25rem;
        padding-top: 3px;
        z-index: 2;
        background: #fff;
        text-align: center;
        width: 282px;
        height: 3.125rem;
        color: #000;
        box-shadow: none;
        transition: bottom .3s;
        right: 102px;
        bottom: -5px;
    }
    .products {
        margin-left: 10% !important;
    }
    #products .thumbnail-container .product-thumbnail img,
    .featured-products .thumbnail-container .product-thumbnail img,
    .product-accessories .thumbnail-container .product-thumbnail img,
    .product-miniature .thumbnail-container .product-thumbnail img {
        margin-left: 11px;
    }
    #products .product-miniature,
    .featured-products .product-miniature,
    .product-accessories .product-miniature,
    .product-miniature .product-miniature {
        box-sizing: border-box;
        width: 31%;
    }
    #products .product-description,
    .featured-products .product-description,
    .product-accessories .product-description,
    .product-miniature .product-description {
        height: 106px;
        top: 271px;
        right: 59px;
    }
    #products .highlighted-informations .quick-view,
    .featured-products .highlighted-informations .quick-view,
    .product-accessories .highlighted-informations .quick-view,
    .product-miniature .highlighted-informations .quick-view:hover {
        color: #000;
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        white-space: nowrap;
        z-index: 3;
        right: 1px;
    }
}

@media screen and (max-width: 1339px) and (min-width: 1280px) {
    #products .products,
    .featured-products .products,
    .product-accessories .products,
    .product-miniature .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 80%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 250px;
    }
    /*.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}*/
    div.header i.shopping-cart {
    	position: relative;
	    position: relative;
		margin-top: -64px;
		margin-left: 305px;
       /* padding-left: 245px;*/
        
    }
    /*#index #header #_desktop_cart {
   		position: relative;
   		margin-left: 254px;
    	margin-top: -28px;
	}*/
    
   /* span.cart-products-count {
    position: absolute;
    margin-top: -64px;
    margin-left: 256px;
	}*/
	/*span.cart-products-count { toky
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
}*/
/*span.cart-products-count {
    margin-top: 1px;
    position: absolute;
}*/
span.cart-products-count {
    margin-top: -32px;
    position: absolute;
    margin-left: 7px;
}

    /*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 286px;
}*/
	i.material-icons.search{
		margin-left: 11px;
	    position: absolute;
	    margin-top: -27px;
	}

}

@media screen and (max-width: 1279px) /*and (min-width: 1250px) */{
    .tabs .nav-tabs {
        border: none;
        border-bottom: none !important;
        width: 650px;
        margin: 0 auto;
    }
    #index #header #_desktop_cart {
   margin-left: 264px;
    position: relative;
    margin-top: -31px;
}

@media screen and (max-width: 1249px){
    .tabs .nav-tabs {
        border: none;
        border-bottom: none !important;
        width: 650px;
        margin: 0 auto;
    }
    #index #header #_desktop_cart {
    margin-left: 264px;
    position: relative;
    margin-top: -31px;
	}
    #products .products,
    .featured-products .products,
    .product-accessories .products,
    .product-miniature .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 77%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 187px;
    }
    /*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 200px;
}*/
    /*.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}*/
	   /* div.header i.shopping-cart {
	        /*padding-left: 249px;
	        margin-top: 65px;*/
	        position: relative;
    		/*margin-top: -1px;*/
	}
}
    .paragraphe.text {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 180px;
        font-size: 14px !important;
    }
    .paragraphe {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 56px;
        font-size: 14px !important;
    }
}
@media screen and (max-width: 1176px) {
	div.header {
	    position: relative;
	    margin-top: -104px;
	    margin-left: 36px;
    }
    #index #header #_desktop_cart {
    /*float: right;*/
    padding-top: 0px;
    padding-right: 0px;
	}
}

@media screen and (max-width:1119px) and (min-width: 990px){
    /*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 138px;
}*/
    div.header i.shopping-cart {
    	position: relative;
       margin-top: 72px;
       margin-left: 0px;
    }


    #products .products,
    .featured-products .products,
    .product-accessories .products,
    .product-miniature .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 77%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 110px;
    }
    .paragraphe {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 50px;
        font-size: 14px !important;
    }
    .paragraphe.text {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 133px;
        font-size: 14px !important;
    }
    /*.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}*/
	#index #header #_desktop_cart {
    padding-top: 0px;
    padding-right: 0px;
    margin-top: -103px;
    margin-left: 243px;
    position: absolute;
	}
	span.cart-products-count {
    margin-top: 74px;
    position: absolute;
	}
}


/*MEDIA QUERY VERSION TABLETTE*/

@media screen and (max-width: 991px) /*and (min-width:480px)*/{
    div.header i.shopping-cart {
       padding-left: 0px;
       margin-top: 0px;
    }
    div.header span.cart-products-count {
    /* margin-top: 48px; */
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
	}
#index #header #_desktop_cart {
    margin-left: 247px;
    margin-top: -29px;
    position: relative;
}
    /*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    right: 109px;
    top: 78px;
    color: #7a7a7a;
}*/
    .paragraphe.text {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 129px;
        margin-bottom: 129px;
        font-size: 14px !important;
    }
    .paragraphe.text {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 163px;
        margin-right: 114px;
        font-size: 14px !important;
        float: right;
    }
    img[src="themes/classic/assets/image/eximg2.png"] {
        width: 50%;
    }
    img[src="themes/classic/assets/image/img4.png"] {
        float: right;
        width: 50%;
    }
    .paragraphe {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 95px;
        /*margin-left: 153px;*/
        margin-left: 133px;
        font-size: 14px !important;
        float: left;
        text-align: center;
    }
    img[src="themes/classic/assets/image/img3.png"] {
        margin-top: 151px;
        width: 50%;
    }
}


/* gam */

#search .m-15 {
    display: none;
}

#header .header-top .search-widget {
   /* padding-top: 63px;*/
    padding-left: 25px;
    margin-left: -40px;

}

#header .header-top .search-widget form input[type=text] {
    border: none;
    position: relative;
    margin-left: 50px;
    margin-top: 60px;
}

/*#index #header #_desktop_cart {
    margin-left: 257px;
    margin-top: -103px;
    position: relative;
}*/

#header #_desktop_cart {
    /*float: right;*/
    /* padding-top: 74px;
    padding-right: 250px;
    padding-top: 74px;
    padding-right: 155px;toky*/ 
}

#search #header #_desktop_logo a img {
    float: right;
}
   



/* add border on input */

#header .header-top .search-widget form input[type=text]:hover {
    border: 2px solid black;
}

.highlighted-informations.no-variants.hidden-sm-down {
    margin-right: -40px;
}

.highlighted-informations.no-variants.hidden-sm-down .quick-view {
    /* margin-right: 30px!important; */
    margin-right: 12%;
}


/* .highlighted-informations.no-variants.hidden-sm-down {
    margin-right: -27px;
} */


/*fin gam*/

@media screen and (max-width: 767px) and (min-width: 535px)
{
    #header .header-top .search-widget form input[type=text] {
    border: none;
    position: absolute;
    margin-top: -69px;
    margin-left: 1px;
    padding-left: -37px;
    padding-top: -28px;
	}
	#header .header-top .search-widget
	{

	    margin-top: -51px;
	    position: absolute;
	    margin-left: -22px;

	}

    img[src="themes/classic/assets/image/img3.png"] {
        margin-top: 151px;
        width: 50%;
    }
    #index .nav-item a {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000!important;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    text-align: center!important;
    font-size: 14px;
    font-weight: 400;
    }
    .nav-item .a[href="#homeonsaletab"] .homeonsaletab
    {
        margin-left: 503px;
        position: initial;
        margin-top: -34px;
    }
    .featured-products .products .product-miniature .thumbnail-container /* a[href="http://presta-test3.projets-omega-web.net/accueil/1-hummingbird-printed-t-shirt.html"]*/
    {
           margin-left: -96px;
    }
   /* .featured-products.products.product-miniature.thumbnail-container a[href="http://presta-test3.projets-omega-web.net/accueil/1-hummingbird-printed-t-shirt.html"]{

    }*/
   /* section #content .page-home div.tabs ul#home-page-tabs .nav .nav-tabs .clearfix
    {
        padding-left: -83px;
        width: 100%;
    }*/
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/36-home_default/hummingbird-printed-t-shirt.jpg"]
    {
        margin-left: -27px;
        padding: 0px; 
    }
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/36-home_default/hummingbird-printed-t-shirt.jpg"] .product-description
    {
        margin-left: 1px;
        position: initial;
    }
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/38-home_default/affiche-encadree-the-best-is-yet-to-come.jpg"]
    {
        padding: 0px;
    }
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/38-home_default/affiche-encadree-the-best-is-yet-to-come.jpg"] .product-description
    {
        position: initial;
        margin-left: 92px;
    }
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/42-home_default/affiche-encadree-the-adventure-begins.jpg"]
    {
         margin-left: -23px;
         position: initial;
    }
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/42-home_default/affiche-encadree-the-adventure-begins.jpg"] .product-description
    {
        margin-top: 24px;
        position: initial;
    }
    /*///*/
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/40-home_default/affiche-encadree-today-is-a-good-day.jpg"]
    {
       position: initial;
       margin-left: 89px
    }
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/40-home_default/affiche-encadree-today-is-a-good-day.jpg"] .product-description
    {
        margin-left: 124px;
        position: initial;
        margin-top: 25px;
    }
    /*////////*/
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/41-home_default/mug-the-best-is-yet-to-come.jpg"]
    {
        margin-left: -10px;
        position: initial;
    }
    article .product-miniature .thumbnail-container a img [src="http://presta-test3.projets-omega-web.net/41-home_default/mug-the-best-is-yet-to-come.jpg"] .product-description
    {
        margin-left: 22px;
        position: initial;
        margin-top: 29px;
    }
    /*//////////////d/d/d/d/d*/

}
@media screen and (max-width: 360px)
{
	#header .header-nav .cart-preview .shopping-cart {
    		vertical-align: middle;
    		color: #7a7a7a;
   		padding: 0%;
    		margin: 0% 0%;
	}

	#header {
    		background: #f1f1f1;
	}

	.header-top .search-widget form input[type=text] {
   		min-width: inherit;
    		width: 94%;
         }

	.header-top .search-widget form input[type=text] {
    		min-width: inherit;
    		background: #fff;
    		padding: 3% 4%;
    		margin: 0% -5%;
	}
	
	#head_men {
    		height: 0px;
	}
	
	#header .header-nav .top-logo a img {
    		max-height: 65px;
    		max-width: 100%;
    		margin: 2% 28%;
	}


	.m-15 button {
    		background-color: black;
    		color: white;
    		border-radius: 0px;
    		border: 1px solid black;
    		display: inline-block;
    		cursor: pointer;
    		font-family: 'Futura' , sans-serif !important;
    		font-size: 14px !important;
    		text-decoration: none;
    		text-shadow: 0px 1px 0px black;
    		font-weight: medium !important;
    		width: 124px !important;
    		height: 34px !important;
    		margin-top: 0x !important;
    		margin-left: 0px !important;
	}

	.paragraphe .text-center {
    		font-family: 'Open Sans', sans-serif;
    		margin-top: 0px!important;
    		text-align: left !important;
    		padding: 10px 0px;
	}

	.paragraphe {
    		padding: 20px 114px !important;
    		margin: 4px 4px;
	}

	.tabs .nav-tabs .nav-item {
    		float: left;
    		margin: -11% -2%;
    		text-align: center;
    		padding: 0% 1%;
	}

	#index .tabs .nav-tabs {
    		border: none;
    		border-bottom: none!important;
    		padding-left: 17%;
	}

	#products .thumbnail-container .product-thumbnail img, .featured-products .thumbnail-container .product-thumbnail img, .product-accessories .thumbnail-container .product-thumbnail img, .product-miniature .thumbnail-container .product-thumbnail img {
    		max-width: 100%;
    		position: absolute;
    		bottom: 0;
    		margin: 2% -8%;
    		width: 100%;
    		align-vertical: middle;
	}
	
	img {
    		vertical-align: middle;
	}

	#header .header-top>.container {
    		position: relative;
    		margin: 5% 1%;
    		padding: 0% 3%;
	}

	img[src="themes/classic/assets/image/img4.png"]{
		padding-top: 8% !important;
	}

	#products .thumbnail-container .product-description, .featured-products .thumbnail-container .product-description, .product-accessories .thumbnail-container .product-description {
    		padding: 0% 6%;
    		margin: 21% -68%;
		border: none!important;
	}

	#products .thumbnail-container .product-description, .featured-products .thumbnail-container .product-description, .product-accessories .thumbnail-container .product-description {
    		box-shadow: none !important;
	}
	
	#index .nav-item a {
    		background: #fff;
    		color: #000;
    		text-transform: uppercase;
    		margin: 22% 7%;
    		border: 1px solid #000!important;
   		font-family: 'Futura', sans-serif !important;
    		font-size: 14px!important;
    		height: 36px!important;
    		width: 193px !important;
    		text-align: center!important;
    		font-weight: 400;
	}

	.legende {
    		background-color: #c3d9b1;
    		width: 100%;
    		display: flex;
    		flex-direction: row;
    		padding-top: 19px;
    		padding-bottom: 20px;
    		position: relative;
    		top: 50px;
    		text-align: left;
	}

	#partage{
		padding-left: 5%;
	}
	
	.search-widget form button[type=submit] {
    		position: absolute;
    		background: none;
    		border: none;
    		color: #7a7a7a;
    		margin: 0px 46px;
	}

	div.header i.shopping-cart {
    		padding-left: 287px !important;
    		margin-top: -63px !important;
	}

	.material-icons {
    		font-family: Material Icons;
    		font-weight: 400;
    		font-size: 24px;
    		display: inline-block;
    		vertical-align: middle;
    		width: 1em;
    		height: 1em;
    		line-height: 1;
    		margin: 2px -10px;
	}

	#index .tabs .nav-tabs {
    		border: none;
    		border-bottom: none!important;
    		padding-left: 20%;
	}

	#numero {
    		margin: 10px 93px;
	}
	
}
