/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
#_desktop_logo h1{
    float: right;
}
#home_menu{
    text-align: center;
}
#head_men{
    background-color: black;
    height: 80px;
}
.menu#_desktop_top_menu{
    margin-top: 20px;
}
ul li.category {
    text-transform: uppercase;
}
ul li a.dropdown-item{
    color: white !important;
    margin-right: 34px;
}
span.hidden-sm-down{
    display: none !important;
}
span.cart-products-count{
    display: none !important;
}
div.header i.shopping-cart{
    padding-left: 463px;
    margin-top: -60px;
}
/*div#search_widget input.ui-autocomplete-input{
    display: none;
}
div#search_widget button{
    padding-right: 201px;
    margin-bottom: -85px;
}
/* div.js-top-menu ul.top-menu{
    margin-right: 201px;
} */
#block_myaccount_infos{
display:none;
}
.block-contact {
display:none;
}
img .img2{
height: 300px !important;
}
.nous-suivre{
    width: 15%;
    float: right;
    padding-top: 95px;
}
.nous-suivre h5 {
color:white;
}
.links{
width: 30%;
}
.wrapper{
padding-top: 96px;
}
.block_newsletter {
width: 50%;
padding-top: 50px;

}
.block_newsletter p{
   padding-top: 0px;
}
.col-xs-12{
    margin-left: 21px !important;
    width: 544px! important;
}
.footer-container{
background:black;
}
p.h3.hidden-sm-down
{
color:white;
}
.text-center{
text-align:center;
}
.btn.btn-primary.float-xs-right hidden-xs-down{
 background:rgb(207, 255, 206)

}
.paragraphe{
    padding-top: 85px;
}

.m-15 {
margin:0px;
background: white;
width:100%;
}
.m-15 .row{
margin:0px;
width:100%;
}
.m-15 button{
 background-color: black;
 color:white;
border-radius:0px;
border:1px solid black;
display:inline-block;
cursor:pointer;
font-family:Arial;
font-size:17px;
text-decoration:none;
text-shadow:0px 1px 0px black;
}
.m-15 button:hover {
    background-color:black;
}
.paragraphe .text {
padding-top: 130px ! important;

}
 h4{
color:rgb(98, 186, 103) !important;
 }









