/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 /* <beta> */
body#checkout section.m-15{
    display: none;
}

body#checkout div.menu#_desktop_top_menu{
    width: 100%;
    background-color: black;
    height: 80px;
    margin-top: 0;
}

body#checkout nav.header-nav{
    display: none;
}
/* </beta>*/

#_desktop_logo h1 {
    float: right;
}

#home_menu {
    text-align: center;
}

#head_men {
    background-color: black;
    height: 80px;
}

.menu#_desktop_top_menu {
    margin-top: 20px;
}

ul li.category {
    text-transform: uppercase;
}

ul li a.dropdown-item {
    color: white !important;
    margin-right: 34px;
}

span.hidden-sm-down {
    display: none !important;
}

span.cart-products-count {
    
}


/* gam
div.header i.shopping-cart {
    padding-left: 463px;
    margin-top: -60px;
}*/


/*div#search_widget input.ui-autocomplete-input{
    display: none;
}
div#search_widget button{
    padding-right: 201px;
    margin-bottom: -85px;
}
/* div.js-top-menu ul.top-menu{
    margin-right: 201px;
} */

#block_myaccount_infos {
    display: none;
}

.block-contact {
    display: none;
}

img .img2 {
    height: 300px !important;
}

.nous-suivre {
    width: 15%;
    float: right;
    padding-top: 95px;
}

.nous-suivre h5 {
    color: white;
}

.links {
    width: 30%;
}

.wrapper {
    padding-top: 96px;
}

.block_newsletter {
    width: 50%;
    padding-top: 50px;
}

.block_newsletter p {
    padding-top: 0px;
}


/*.col-xs-12 {
    margin-left: 21px !important;
    width: 544px! important;
}*/

p.h3.hidden-sm-down {
    color: white;
}

.text-center {
    text-align: center;
}

.btn.btn-primary.float-xs-right hidden-xs-down {
    background: rgb(207, 255, 206)
}

.paragraphe {
    padding-top: 85px;
}

.m-15 {
    margin: 0px;
    background: white;
    width: 100%;
    /*-- gam--
    display:none;*/
}

.m-15 .row {
    margin: 0px;
    width: 100%;
}

.m-15 button {
    background-color: black;
    color: white;
    border-radius: 0px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px black;
}

.m-15 button:hover {
    background-color: black;
}

.paragraphe .text {
    padding-top: 130px ! important;
}

h4 {
    color: rgb(98, 186, 103) !important;
}


/* modification  */

.tabs {
    padding: 0%;
    background: none;
    box-shadow: none;
}


/* .product-miniature {
    width: 8cm;
    height: 413px;
} */


/* .thumbnail-container a img {
    height: 14cm;
    width: auto;
} */


/* 
.thumbnail-container a product-description {
    width: 100%;
} */

#products .product-description,
.featured-products .product-description,
.product-accessories .product-description,
.product-miniature .product-description {
    height: 140px;
}

#products .product-description,
.featured-products .product-description,
.product-accessories .product-description,
.product-miniature .product-description {
    height: 106px;
    /* gam --- top: 255px;*/
    top: 271px;
    right: 63px;
    /* background: red; */
}

#products .products,
.featured-products .products,
.product-accessories .products,
.product-miniature .products {
    /* gam --- padding-left: 11%;*/
    padding-top: 4%;
}

#products .product-price-and-shipping,
.featured-products .product-price-and-shipping,
.product-accessories .product-price-and-shipping,
.product-miniature .product-price-and-shipping {
    margin-top: 19px;
    top: 252px;
    /* background: green; */
}

#products .product-miniature,
.featured-products .product-miniature,
.product-accessories .product-miniature,
.product-miniature .product-miniature {
    /* gam --- margin: 28px .8125rem;*/
    margin: 68px .8125rem;
}

#products .product-title a,
.featured-products .product-title a,
.product-accessories .product-title a,
.product-miniature .product-title a {
    color: #000;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 14px !important;
}


/* gam */

#product #wrapper .m-15 {
    display: none;
}

#product #wrapper {
    padding-top: 15px;
}

.featured-products .all-product-link {
    display: none;
}

#product #_desktop_logo a img {
    float: right;
}

#category #wrapper .m-15 {
    display: none;
}

#category #_desktop_logo a img {
    float: right;
}

#products .product-miniature .product-description .h3.product-title {
    font-family: opensans regular;
    font-size: 14px;
}

#products .product-miniature .product-description .product-price-and-shipping {
    font-family: Opensans regular;
    font-size: 16px;
    font-weight: bold;
}


/* fin gam */


/* modif 09 mars 2020 */

.links {
    width: 50%;
    position: relative;
    margin: 1px 583px;
}


/* new css */

#cart #wrapper .m-15 {
    display: none;
}

#cart #wrapper {
    margin-top: 30px;
}